body {
  background-image: url(ClearCarelessBeagle-small.gif);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  display: grid;
  grid-template-columns: auto 400px;
  grid-template-rows: 200px auto auto 100px;
  grid-gap: 40px;
  grid-template-areas:
    "header header"
    "nav nav"
    "section aside"
    "footer footer";
}
.back {
  width: 8%;
  height: 8%;

  position: absolute;
  top: 0%;
  background-size: 100%;
  background-repeat: no-repeat;
  border-radius: 25%;
  margin-left: 90%;
}
.temp {
  width: 70%;
  height: 85%;
  background-image: url(Back.png);
  position: absolute;
  background-size: 100%;
  background-repeat: no-repeat;
  border-radius: 75%;
  margin-left: 40%;
}
header {
  background-image: url(800px-Twitch_logo_2019.svg.png);
  background-repeat: no-repeat;
  background-size: 25%;
  background-position: center center;
  grid-area: header;
}
nav {
  grid-area: nav;
  background-color: rgb(93, 32, 151, 0.7);
  border-radius: 30px;
  border: 3px solid rgb(255, 0, 212);
  align-content: center;
}
nav ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  user-select: none;
  padding-right: 1%;
  padding-left: 1%;
  text-decoration: none;
}
nav li {
  border: 3px solid rgb(38, 173, 245);
  background-color: rgb(71, 15, 147, 0.9);
  -webkit-text-stroke: 1px cyan;
  text-align: center;
  margin: 5px;
  font-size: 150%;
  border-radius: 20px;
  padding: 6%;
  color: rgb(255, 255, 255);
  font-size: 150%;
  user-select: none;
  text-decoration: none;
}
nav li:hover {
  background-color: rgb(143, 61, 231);
  user-select: none;
}


aside {
  grid-area: aside;

  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}
section {
  background-color: rgba(255, 255, 255, 0.8);
  grid-area: section;
  border-radius: 10px;
  padding: 20px;
  font-size: 130%;
  border: 5px solid cyan;
  font-weight: normal;
}
footer {
  grid-area: footer;
  background-color: rgb(230, 0, 238);
  opacity: 0.6;
  border: 3px solid Cyan;
  border-radius: 30px;
  padding-top: 10px;
  padding-left: 10%;
}
.image {
  border: 2px solid cyan;
  width: 400px;
  height: 200px;
  background-image: url(scale_1200.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  position: sticky;
  top: 50%;
}
.used {
  background-color: rgb(39, 3, 77);
  pointer-events: none;
  user-select: none;
}
.Head {
  text-align: center;
  background-color: rgba(255, 255, 255);
  border-radius: 25px;
  border-bottom: cyan solid;
  margin-left: 35%;
  margin-right: 35%;
}
footer {
  text-align: center;
}
.box{
  margin-top: 2%;
  width: auto;
  height: 100px;
  border: 2px solid black;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 90px auto;
  grid-area: 
  "newsimg newstext"
  ;
}
.newsimg{
  background-image: url(twitch.jpg);
  background-size: 100%;
  border-right: 4px solid white ;
  border-radius: 2px;
}
.newstext{
  padding-left: 5%;
  padding-top: 1%;
}
.Newsinf{
  text-align: center;
  margin-top: -1%;
}
.mainbox{
  grid-template-columns: 200px 200px 200px;
  grid-template-areas: 
  "video video2 video3"
  ;
  
}
.vbox{
  position: absolute;
  width: 200px;
  height: 230px;
  border-radius: 5px;
  border: 3px solid black;
  grid-area: video;

}
.vbox1{
  width: 200px;
  height: 230px;
  border-radius: 5px;
  border: 3px solid black;
 
  grid-area: video2;
  margin-left: 250px;
  
  
}
img{
  size: 100%;
  width: 200px;
  height: 150px;
  border-bottom: 3px solid cyan;
}
.vboxt1{
  text-align: center;
  padding-top: 20px;
  font-weight: bold;
  
}
.vbox2{
  width: 200px;
  height: 230px;
  border-radius: 5px;
  border: 3px solid black;
  margin:5px;
  grid-area: video3;
  margin-left: 500px;
}


.boxq{
  margin-top: 2%;
  width: auto;
  height: 150px;
  
  display: grid;
  grid-template-columns: 100px auto;
  grid-template-areas:  
  "newsimg newstext"
  ;}
  .newsimgq{
    background-image: url(bloodtrail-emote.png);
    background-size: 100%;
    background-repeat: no-repeat;
  }
.newstextq{
  padding-left: 10%;
}
.boxw{
  margin-top: 2%;
  width: auto;
  height: 150px;
  
  display: grid;
  grid-template-columns: 100px auto;
  grid-template-areas:  
  "newsimg newstext"
  ;}
  .newsimgw{
    background-image: url(monks.png);
    background-size: 100%;
    background-repeat: no-repeat;
  }
.newstextw{
  padding-left: 10%;
}
.boxe{
  margin-top: 2%;
  width: auto;
  height: 150px;
  display: grid;
  grid-template-columns: 100px auto;
  grid-template-areas:  
  "newsimg newstext"
}
.newsimge{
  background-image: url(114133_residentsleeper-emote-png.png);
  background-size: 100%;
  background-repeat: no-repeat;
}
.newstexte{
padding-left: 10%;
}
.boxr{
  margin-top: 2%;
  width: auto;
  height: 150px;
  display: grid;
  grid-template-columns: 100px auto;
  grid-template-areas:  
  "newsimg newstext"
}
.newsimgr{
  background-image: url(BoYRMteyQBOo9hgM2TO0.png);
  background-size: 100%;
  background-repeat: no-repeat;
}
.newstextr{
padding-left: 10%;
}
.boxd{
  margin-top: 2%;
  width: auto;
  height: 150px;
  display: grid;
  grid-template-columns: 100px auto;
  grid-template-areas:  
  "newsimg newstext"
}
.newsimgd{
  background-image: url(bettert.png);
  background-size: 100%;
  background-repeat: no-repeat;
}
.btn {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
}
.newstextd{
  padding-left: 10%;
}
a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
    color: rgb(61, 5, 61);
}
.newsimgc{
  background-image: url(PNGPIX-COM-Star-Vector-PNG-Transparent-Image.png);
  background-size: 100%;
  background-repeat: no-repeat;
  position: cover;
}
.empty{
  height: 50px;
}
.sda{
  margin-top: 50px;
}
.p12{
  font-weight: bolder;
  text-decoration: underline;
  text-align: center;
  margin-top: 20px;
}